/* 폰트 */
@font-face {
    font-family: 'tway';
    src: url('../fonts/tway_fly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
   
html {
    position: relative;
    font-family: 'tway', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),
                url('../img/UI/background_common.png') no-repeat center center fixed ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    min-height: 100%;
}


#result {
    font-size: 50px;
    color: red;
    text-shadow: 2px 2px white;
}

p {
    font-size: 35px;
    text-shadow: 2px 2px white;
}

/* 세로 정렬 */