/* 폰트 */
@font-face {
    font-family: 'cookie';
    src: url('../fonts/CookieRunRegular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
   
html {
    position: relative;
    font-family: 'cookie', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2)),
                url('../img/UI/background_kids.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 100%;

}

body {
    position: relative;
    margin-top: 15%;
    vertical-align: middle;
}

span {
    margin-left: 35px;
    margin-right: 35px;
    font-size: 20px;
}

[type=radio]{
    width: 150px;
    height:100px;
    margin-right: 30px;
    margin-left: 30px;

}

.checkL {
    content: url(../img/UI/Left.png);
    width: 100px;
    height: 100px;
}

.checkR {
    content: url(../img/UI/Right.png);
    width: 100px;
    height: 100px;

}

#load {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background: white;
    z-index: 99;
    text-align: center;
}

#load > img {
    position: relative;
    top: 50%;
    z-index: 100;
}

#load > p {
    position: relative;
    font-size: 20px;
    top: 55%;
    z-index: 100;
}

#help {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 1;
    background: gray;
    z-index: 99;
    text-align: center;
}

#help > div {
    position: relative;
    display: inline-block;
    top: 90px;
    height: 70%;
    width: 50%;
    background-color: white;
    border-radius: 5%;
}

#help > div > button {
    position: relative;
    top: 60%;
}

input{
    margin: 0 auto;
    font-family:'cookie', sans-serif;  
    width: 300px;
    height: 25px;
}

#fileText:hover {
    color: gray;
}

button {
    font-family:'cookie', sans-serif;
    font-size: 20px;
    width: 100px;
    height: 50px;
}

#submit {
    font-size: 20px;
    width: 100px;
    height: 50px;
}

button:hover, #submit:hover {
    background-color: gainsboro;
    
}

span {
    font-size: 35px;
    text-shadow: 3px 3px white;
}
