/* 폰트 */
@font-face {
    font-family: 'tway';
    src: url('../fonts/tway_fly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

   
html {
    position: relative;
    font-family: 'tway', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),
                url('../img/UI/background_common.png') no-repeat center center fixed ; 
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 100%;
    
}

body {
    position: relative;
    margin-top: 15%;
    vertical-align: middle;
}

h1 {
    margin: 0 auto;
}

#load {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background: white;
    z-index: 99;
    text-align: center;
}

#load > img {
    position: relative;
    top: 50%;
    z-index: 100;
}

#load > p {
    position: relative;
    top: 55%;
    z-index: 100;
}

#help {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 1;
    background: gray;
    z-index: 99;
    text-align: center;
}

#help > div {
    position: relative;
    display: inline-block;
    top: 100px;
    height: 70%;
    width: 45%;
    background-color: white;
    border-radius: 5%;
    text-align: center;
}

#help > div > p {
    color: gray;
}

#help > div > button {
    position: relative;
    top: 60%;
}

input{
    margin: 0 auto;
    font-family:'tway', sans-serif;  
    width: 300px;
    height: 25px;
}

.selector {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.selector > span {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 25px;
    margin: 0 auto;
}

.selector > select {
    position: relative;
    text-align: center;
    font-family: 'tway';
    width: 100px;
    height: 25px;
    margin: 0 auto;
}


button {
    font-family:'tway', sans-serif;
    width: 70px;
    height: 30px;
}

#submit {
    width: 70px;
    height: 30px;
}

