<!DOCTYPE html>
<html style="text-align: center;">
    <head>

            
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/completestyle.css')}}">
        <link rel="stylesheet" href="../static/css/completestyle.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <br>
        <h1>결과</h1>
        <br><br>

        <img src="{{url_for('static', filename=image_file)}}" alt="">
       
        <br>
        <h2 id="result">{{Result[0]}}</h2>
        <h3>{{Result[1]}}</h3>
        <br>
        <p>{{Result[2]}}</p>
        <br>
    
    </body>
</html>
