<!DOCTYPE html>
<html style="text-align: center;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/uploadstyle.css')}}">
        <link rel="stylesheet" href="../static/css/uploadstyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>반가워요</h1>
        <br>
        <div>
            <form action="{{url_for('file_process')}}", method="post", enctype="multipart/form-data" id="form">
                    <input type="file", name="file", id="file",  style="display: none;" required></input>
                    <label for="file" id="fileText" aria-required="true">파일을 업로드해 주세요!!</label>
                    <br><br>
                    <input type="number", min="0", max="100", name="chipLimit" placeholder="칩수율(%)" required/><br><br>
                    <input type="number", min="0" max="100", name="yieldLimit" placeholder="수율 한계(%)" required><br><br>
                    <input type="number", min="0" max="100", name="trust" placeholder="AI 신뢰 한계치(%)" required><br><br><br>
                    <input type="submit" id="submit">
            </form>
        </div>
        
        <div id="load">
            <img src="../static/img/UI/spinner.gif" alt="loading">
            <p>tip: 1분 이상의 시간이 소모됩니다...</p>
        </div>
        <div id="help">
            <div>
                <h2>도움말</h2>
                <br>
                <h4> - 입력 값 주의사항 - </h4>
                <p class="explain"> 엑셀 파일의 경우, 첫 행과 첫 열이 비워진 상태로 웨이퍼맵을 만들어주세요!<br><br>
                    칩 수율은 칩 하나 당 목표하는 수율(전기전도도, 상품성)을 말합니다. <br>
                    수율 한계치는 공정 수율이 얼마나 낮아져도 되는지, 한계치를 입력하는 칸입니다. <br>
                    AI 신뢰 한계치는 AI 정확도의 하한선을 입력하는 칸입니다.</p>
                <br>
                <br>
                <br>
                <h4> - 사용 시 주의사항 - </h4>
                <p class="explain">재사용 시 계속 로딩화면이 뜬다면 새로고침 해주세요. <br>
                파일 입력 시에도 파일 명이 뜨지 않는 경우에도 새로고침 해주세요.
                </p>
                <br>
                <button onclick="modalClose()">닫기</button>
            </div>
        </div>
        <br>
        <button onclick="modalOpen()">도움말</button>
        
        <script>
            $(window).on('load', 
                function() {
                    $("#load").hide();
                    $("#help").hide();
            });
            $('#form').submit(function loading() {     
                    $('#load').show();
            });

            $("#file").on('change',
                function(){
                    var fileName = $("#file").val();
                    if(fileName == '') {
                        $("#fileText").text();
                    }
                    else {
                        $("#fileText").text(fileName);
                    }
            });

            function modalOpen(){
                $("#help").show();
            }
            function modalClose(){
                $("#help").hide();
            }
        </script>
    </body>

</html>