<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/uploadstyle.css')}}">
        <!-- test -->
        <link rel="stylesheet" href="../static/css/uploadstyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body style="text-align: center;">
        <h1>반가워요</h1>
        <div>
            <form action="{{url_for('file_process')}}" method="post", id="form" enctype="multipart/form-data">
                <!-- 좌 == 1 -->
                <input type="radio" name="A" class="checkL", class="raidobox-flash", value="1">
                <input type="radio" name="B" class="checkL" value="1">
                <input type="radio" name="C" class="checkL" value="1">
                <input type="radio" name="D" class="checkL" value="1">
                <input type="radio" name="E" class="checkL" value="1">
                <br>
                <span> 1번째 </span> <span> 2번쨰 </span> <span> 3번쨰 </span> <span> 4번째 </span> <span> 5번째 </span>
                <br>
                <!-- 우 == -1 -->
                <input type="radio" name="A" class="checkR" value="-1">
                <input type="radio" name="B" class="checkR" value="-1">
                <input type="radio" name="C" class="checkR" value="-1">
                <input type="radio" name="D" class="checkR" value="-1">
                <input type="radio" name="E" class="checkR" value="-1">
                <br><br>
                <input type="submit" id="submit">
            </form>
        </div>
        
        <div id="load">
            <img src="../static/img/UI/spinner.gif" alt="loading">
            <p>조금만 기다려 주세요...</p>
        </div>
        <div id="help">
            <div>
                <h2>도움말</h2>
                어쩌구 저쩌구
                어쩌구 저쩌구
                <br>
                <button onclick="modalClose()">닫기</button>
            </div>
        </div>
        <br>
        <button onclick="modalOpen()">도움말</button>

        <script>
            $(window).on('load', 
                function() {
                    $("#load").hide();
                    $("#help").hide();
            });
            $('#form').submit(function loading() {     
                    $('#load').show();
            });

            $("#file").on('change',
                function(){
                    var fileName = $("#file").val();
                    if(fileName == '') {
                        $("#fileText").text();
                    }
                    else {
                        $("#fileText").text(fileName);
                    }
            });

            function modalOpen(){
                $("#help").show();
            }
            function modalClose(){
                $("#help").hide();
            }
        </script>
    </body>
</html>